* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.icon {
  width: 2.5rem;
  height: 2.5rem;
}

.navbar {
  position: fixed;
  border: 1px solid grey;
  background: linear-gradient(to bottom, white, #f3f2be);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100vh;
}
.navbar ul {
  margin-block: auto;
  list-style: none;
}
.navbar ul li {
  margin-top: 30px;
}
.navbar li a {
  /* color:#e17107; */
  color: #af4406;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar li a img {
  opacity: 0.9;
  transition: 0.2s;
}
.navbar li a img:hover {
  opacity: 1;
  transform: scale(1.2);
}

.intro-container {
  background-image: url(./images/Presentation2.png);
  background-size: cover;
  height: 100vh;
  margin: 0px 0px 0px 100px;
}
.intro {
  position: relative;
  margin-block: auto;
  margin-inline: auto;
  width: 30%;
  padding: 10px;
  text-align: center;
  top: 10rem;
  border-radius: 1rem;
}
h1 {
  font-size: 3rem;
  font-family: "Dancing Script", cursive;
}
.my-image {
  border: 2px solid #af4406;
  border-radius: 50%;
  padding: 0.3rem;
  width: 5.5rem;
  height: 5.5rem;
}
.links a img {
  width: 2rem;
  height: 2rem;
  transition: 0.2s;
}
.links a img:hover {
  transform: scale(1.3);
}
#typewriter {
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid black;
}
#dynamic-text {
  color: #af4406;
}
.btns {
  margin-top: 0.8rem;
  display: inline-flex;
  gap: 10px;
}
.btn {
  border: 1px solid rgb(175, 68, 6);
  padding: 10px;
  background: transparent;
  border-radius: 30px;
  transition: 0.3s;
  text-align: center;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #af4406;
}
.btn:hover {
  color: white;
  background-color: rgba(175, 68, 6);
}
.btn2 {
  border: 1px solid rgb(175, 68, 6);
  padding: 10px;
  border-radius: 30px;
  transition: 0.3s;
  text-align: center;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  background: #af4406;
  color: #fff;
}
.btn2:hover {
  background: white;
  color: #af4406;
}

.text {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-family: "rubik", sans-serif;
  font-size: 1.3rem;
  display: flex;
  color: #af4406;
}
h4 {
  font-family: "rubik", sans-serif;
  color: #602604;
}
.info {
  margin-left: 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cards {
  margin: 2rem;
  padding: 1rem;
  width: 400px;
  border: 1px solid #af4406;
  border-radius: 15px;
}
.bar {
  display: inline;
}
.bar img {
  width: 2.5rem;
  height: 2.5rem;
}

.duration {
  color: #f08b50;
}
.card-info {
  justify-content: center;
}
.row-content {
  gap: 1rem;
  display: flex;
  align-items: center;
  font-size: 12px;
}
.timeline {
  height: 4rem;
  text-align: center;
  margin: -5px 19px;
  width: 1px;
  background-color: #af4406;
}
#footer {
  width: 100%;
  background-color: #af4406;
  color: white;
  height: 100px;
  text-align: center;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.foot {
  text-align: center;
  margin-left: 100px;
}
.contacts {
  display: grid;
  width: 800px;
  margin: 0 auto;
}
.contact-form {
  margin-left: 110px;
  border-radius: 5px;
  padding: 20px;
  color: #af4406;
}

input,
textarea {
  width: 50vw;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #af4406;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="button"] {
  width: 10vw;
  background-color: #04aa60;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
textarea #message:focus {
  border-color: #af4406;
}
